
.purple-border textarea {
    border: 1px solid #ba68c8;
}
.purple-border .form-control:focus {
    border: 1px solid #ba68c8;
    box-shadow: 0 0 0 0.2rem rgba(186, 104, 200, .25);
}

.green-border-focus .form-control:focus {
    border: 1px solid #8bc34a;
    box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}

input[type=submit] {
    background-color: #4a8f22;
    border: none;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin:auto;
    display:block;
  }

  input[type=submit] {
    background-color: #4a8f22;
    border: none;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: not-allowed;;
    margin:auto;
    display:block;
  }